{% extends 'base/base_html.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="inner__content create-abs-content">
        <div class="preloader-content">
            <span class="ajax-loader"></span>
        </div>
        <div class="global-title_box">{% trans 'Editing an advert' %}</div>
        <div class="form-create-abs">
            <form id="advert-edit-form" enctype="multipart/form-data" novalidate action="" method="post"
                  data-validation-url="{% url 'advert:advert_social_account_info' %}"
                  data-services-url="{% url 'advert:advert_social_account_services' %}">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                {{ advert_service_formset.management_form }}
                {% for hidden_field in advert_type_form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                <div class="item">
                    <label class="item__label">{{ advert_type_form.link.label }}*</label>
                    <div class="item__field">
                        <div class="update-info">
                            <a href="#" class="update-button">
                                <span class="update-icon"></span>{% trans 'Update data by link' %}
                            </a>
                        </div>
                        {{ advert_type_form.link }}
                        <div class="text-help">{{ advert_type_form.link.help_text }}</div>
                        {% for error in advert_type_form.link.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item hidden-field avatar">
                    <label class="item__label">{{ advert_type_form.logo.label }}*</label>
                    <div class="item__field">
                        {% if advert_type_form.external_logo.value or advert.social_account.logo %}
                            <a class="thumb__avatar">
                                {% if advert_type_form.external_logo.value %}
                                    <img src="{{ advert_type_form.external_logo.value }}">
                                {% else %}
                                    <img src="{{ advert.social_account.logo.url }}">
                                {% endif %}
                            </a>
                        {% endif %}
                        {{ advert_type_form.logo }}
                        <span class="filename"></span>
                        <label for="id_logo" class="button file-upload">
                            <span>{% trans 'Change' %}</span>
                        </label>
                        {% for error in advert_type_form.logo.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item hidden-field">
                    <label class="item__label">{{ form.title.label }}*</label>
                    <div class="item__field">
                        {{ form.title }}
                        {% for error in form.title.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item hidden-field">
                    <label class="item__label">{{ advert_type_form.subscribers.label }}*</label>
                    <div class="item__field">
                        {{ advert_type_form.subscribers }}
                        {% for error in advert_type_form.subscribers.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label class="item__label">{{ form.category.label }}*</label>
                    <div class="item__field">
                        {{ form.category }}
                        <div class="text-help">{{ form.category.help_text }}</div>
                        {% for error in form.category.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label class="item__label"></label>
                    <div class="item__field">
                        <div class="services-description">
                            <div class="title">{% trans 'Service Prices' %}</div>
                            <div class="text-help">{% blocktrans %}So that potential advertisers can easily find you,
                                enter the range of advertising prices on your site. Also, if you do not want to disclose
                                price details for specific services, then select "all services" from the list and check the
                                "Contract price" field. For international convenience, enter the equivalent amount in
                                US dollars.{% endblocktrans %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <label class="item__label">{{ form.min_price.label }}*</label>
                    <div class="item__field short-field">
                        {{ form.min_price }}
                        <div class="text-help">{{ form.min_price.help_text }}</div>
                        {% for error in form.min_price.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <label class="item__label">{{ form.max_price.label }}*</label>
                    <div class="item__field short-field">
                        {{ form.max_price }}
                        <div class="text-help">{{ form.max_price.help_text }}</div>
                        {% for error in form.max_price.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                {% for advert_service_form in advert_service_formset.forms %}
                    <div class="item inline-item service-item">
                        {% for hidden in advert_service_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="hidden">
                            {{ advert_service_form.DELETE }}
                        </div>
                        <label class="item__label">
                            {% if forloop.first %}
                                {{ advert_service_form.social_network_service.label }}*
                            {% else %}
                                <a href="#" class="remove-service hidden-sm"></a>
                                <span class="hidden-lg hidden-md">
                                    {{ advert_service_formset.empty_form.social_network_service.label }}
                                </span>
                            {% endif %}
                        </label>
                        <div class="item__field__wrapper">
                            <div class="item__field">
                                {{ advert_service_form.social_network_service }}
                                <div class="text-help">{{ advert_service_form.social_network_service.help_text }}</div>
                                {% for error in advert_service_form.social_network_service.errors %}
                                    <div class="error_input">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="item__label">{{ advert_service_form.price.label }}</div>
                            <div class="item__field">
                                <div class="field-wrapper">
                                    {{ advert_service_form.price }}
                                    {% if not forloop.first %}
                                        <a href="#" class="remove-service hidden-lg hidden-md">{% trans 'Remove service' %}</a>
                                    {% endif %}
                                </div>

                                <div class="item__inner__field negotiated-price">
                                    <label>{{ advert_service_form.negotiated_price }} {{ advert_service_form.negotiated_price.label }}</label>
                                </div>

                                {% for error in advert_service_form.price.errors %}
                                    <div class="error_input">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if advert_service_formset.non_form_errors %}
                    <div class="item inline-item">
                        <label class="item__label"></label>
                        <div class="item__field">
                            {% for error in advert_service_formset.non_form_errors %}
                                <div class="error_input">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="item">
                    <label class="item__label"></label>
                    <div class="item__field">
                        <div class="button-wrapper">
                            <a class="button add-service" href="#">{% trans 'Add another service' %}</a>
                        </div>
                    </div>
                </div>

                <div class="empty-formset hidden">
                    <div class="item inline-item service-item new-item">
                        {% for hidden in advert_service_formset.empty_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <label class="item__label">
                            <a href="#" class="remove-service hidden-sm"></a>
                            <span class="hidden-lg hidden-md">
                                {{ advert_service_formset.empty_form.social_network_service.label }}
                            </span>
                        </label>
                        <div class="item__field__wrapper">
                            <div class="item__field">
                                {{ advert_service_formset.empty_form.social_network_service }}
                                <div class="text-help">{{ advert_service_formset.empty_form.social_network_service.help_text }}</div>
                            </div>
                            <div class="item__label">{{ advert_service_formset.empty_form.price.label }}</div>
                            <div class="item__field">
                                <div class="field-wrapper">
                                    {{ advert_service_formset.empty_form.price }}
                                    <a href="#" class="remove-service hidden-lg hidden-md">{% trans 'Remove service' %}</a>
                                </div>

                                <div class="item__inner__field negotiated-price">
                                    <label>{{ advert_service_formset.empty_form.negotiated_price }} {{ advert_service_formset.empty_form.negotiated_price.label }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <label class="item__label">{{ form.description.label }}</label>
                    <div class="item__field">
                        {{ form.description }}
                        <div class="text-help">{{ form.description.help_text }}</div>
                        {% for error in form.description.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="item verification-item">
                    <label class="item__label">{% trans 'Verification (not required)' %}</label>
                    <div class="item__field">
                        <div class="text-help">{% blocktrans %}For maximum confidence in the identity and relevance of information about your site,
                            we recommend that you confirm that you are an administrator. By temporarily putting the passphrase which is written below, the status if it is a
                            Vkontakte community, for Twitter, Youtube, Facebook, Telegram and TikTok in the description and for Instagram in the "About me" field.
                            For Twitch use simple text panel and put confirmation text in field "Description".{% endblocktrans %}
                        </div>
                        <div class="code-button-wrapper">
                            <div class="code-button">
                                <span>{{ advert.social_account.confirmation_code }}</span>
                                <button type="button" class="button copy" data-clipboard-text="{{ advert.social_account.confirmation_code }}">{% trans 'Copy' %}</button>
                            </div>
                        </div>
                        <div class="confirm-button-wrapper">
                            <button type="button" class="button confirm-button" data-confirm-url="{% url 'advert:advert_social_account_confirm' %}">{% trans 'Check verification' %}</button>
                            <div class="preloader-wrapper">
                                <div class="ajax-loader"></div>
                            </div>
                        </div>
                        {% if advert.social_account.confirmed %}
                            <div class="verification-status success">{% trans 'Site successfully verified' %}</div>
                        {% else %}
                            <div class="verification-status fail">{% trans 'Site is not verified' %}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="item">
                    <label class="item__label"></label>
                    <div class="item__field">
                        <div class="log__btn">
                            <button class="log__enter button" type="submit">{% trans 'Edit advert' %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'smmpay/components/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'smmpay/components/URI.min.js' %}"></script>
    <script src="{% static 'smmpay/components/autosize.min.js' %}"></script>
    <script src="{% static 'smmpay/components/clipboard.min.js' %}"></script>
{% endblock %}
