{% extends 'base/base_html.html' %}
{% load i18n %}
{% load static %}

{% block pre_content %}
    {% include 'advert/parts/filter.html' %}
{% endblock %}

{% block content %}
    <div class="preloader-content">
        <span class="ajax-loader"></span>
    </div>
    <div class="inner__content">
        <div class="items">
            {% include 'advert/parts/advert_list.html' %}
        </div>
    </div>
    {% include 'advert/parts/sidebar.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'smmpay/components/jcf/js/jcf.js' %}"></script>
    <script src="{% static 'smmpay/components/jcf/js/jcf.select.js' %}"></script>
    <script src="{% static 'smmpay/components/jcf/js/jcf.scrollable.js' %}"></script>
    <script src="{% static 'smmpay/components/URI.min.js' %}"></script>
{% endblock %}