{% extends 'base/base_html.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <aside class="sidebar sidebar-user_cabinet">
        <div class="head-user">
            <div class="you-login">{% trans 'You are logged in as' %}</div>
            <div class="name-user">{{ user.email }}</div>
        </div>
        <nav class="nav-user_link">
            <ul>
                {% url 'account:index' as index_url %}
                <li class="{% if request.path == index_url %}active{% endif %}">
                    <a href="{{ index_url }}">{% trans 'My adverts' %}</a>
                </li>
                {% comment %}
                {% url 'account:discussions' as discussions_url %}
                <li class="{% if request.path == discussions_url %}active{% endif %}">
                    <a href="{{ discussions_url }}">{% trans 'Messages' %}</a>
                </li>
                {% endcomment %}
                {% url 'account:favorites' as favorites_url %}
                <li class="{% if request.path == favorites_url %}active{% endif %}">
                    <a href="{{ favorites_url }}">{% trans 'Favorites' %}</a>
                </li>
                {% url 'account:settings' as settings_url %}
                <li class="{% if request.path == settings_url %}active{% endif %}">
                    <a href="{{ settings_url }}">{% trans 'Settings' %}</a>
                </li>
            </ul>
        </nav>
    </aside>
{% endblock %}

{% block script %}
    <script src="{% static 'smmpay/components/jquery.ddslick.min.js' %}"></script>
    <script src="{% static 'smmpay/components/URI.min.js' %}"></script>
{% endblock %}