{% extends 'base/base_html.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <aside class="sidebar sidebar-user_cabinet">
        <div class="head-user">
            <div class="img-user">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                    <g>
                        <path fill="#bfc9e2" d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587
                        C104.535,132.855,136.084,171.173,175,171.173z"></path>
                        <path fill="#bfc9e2" d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"></path>
                        <path fill="#bfc9e2" d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"></path>
                        <path fill="#bfc9e2" d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761
                        s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131
                        c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496
                        c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"></path>
                    </g>
                </svg>
            </div>
            <strong class="name-user">{{ user.get_short_name }}</strong>
            <span>{% trans 'Adverts creator' %}</span>
        </div>
        <nav class="nav-user_link">
            <ul>
                {% url 'account:index' as index_url %}
                <li class="{% if request.path == index_url %}active{% endif %}">
                    <a href="{{ index_url }}">{% trans 'My adverts' %}</a>
                </li>
                {% url 'account:discussions' as discussions_url %}
                <li class="{% if request.path == discussions_url %}active{% endif %}">
                    <a href="{{ discussions_url }}">{% trans 'Messages' %}</a>
                </li>
                {% url 'account:favorites' as favorites_url %}
                <li class="{% if request.path == favorites_url %}active{% endif %}">
                    <a href="{{ favorites_url }}">{% trans 'Favorites' %}</a>
                </li>
                {% url 'account:settings' as settings_url %}
                <li class="{% if request.path == settings_url %}active{% endif %}">
                    <a href="{{ settings_url }}">{% trans 'Settings' %}</a>
                </li>
                <li>
                    <a href="{% url 'account:logout' %}">{% trans 'Log out' %}</a>
                </li>
            </ul>
        </nav>
    </aside>
{% endblock %}

{% block script %}
    <script src="{% static 'smmpay/components/jcf/js/jcf.js' %}"></script>
    <script src="{% static 'smmpay/components/jcf/js/jcf.select.js' %}"></script>
    <script src="{% static 'smmpay/components/jcf/js/jcf.scrollable.js' %}"></script>
    <script src="{% static 'smmpay/components/jcf/js/jcf.checkbox.js' %}"></script>
    <script src="{% static 'smmpay/components/URI.min.js' %}"></script>
{% endblock %}