{% extends 'account/account_base.html' %}
{% load static %}
{% load i18n %}

{% block title %} | {% trans 'Favorites' %}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'advert:index' %}">{% trans 'Homepage' %}</a>
        </li>
        <li>
            <a href="#">{% trans 'Favorites' %}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="inner__content user-favorites_content">
        <div class="nav-user-search">
            <div class="global-title_box">
                <h1>{% trans 'Favorites' %}</h1>
            </div>
            <div class="sort-content">
                {% include 'account/parts/search_form.html' %}
            </div>
        </div>
        <div class="items">
            {% include 'account/parts/favorite_list.html' %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'smmpay/components/jcf/js/jcf.js' %}"></script>
    <script src="{% static 'smmpay/components/jcf/js/jcf.select.js' %}"></script>
    <script src="{% static 'smmpay/components/jcf/js/jcf.scrollable.js' %}"></script>
    <script src="{% static 'smmpay/components/URI.min.js' %}"></script>
{% endblock %}