{% extends 'account/account_base.html' %}
{% load static %}
{% load i18n %}

{% block title %} | {% trans 'Settings' %}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'advert:index' %}">{% trans 'Homepage' %}</a>
        </li>
        <li>
            <a href="#">{% trans 'Settings' %}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="inner__content user-setting_content">
        <div class="item-setting">
            <div class="global-title_box">
                <strong>{% trans 'User info' %}</strong>
            </div>
            <div class="wrap-setting_input">
                <form action="{% url 'account:settings' %}" method="post">
                    {% csrf_token %}
                    {% for hidden_field in profile_form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    <div class="log__block">
                        <div class="log__title">{{ profile_form.first_name.label }}</div>
                        {{ profile_form.first_name }}
                        {% for error in profile_form.first_name.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="log__block">
                        <div class="log__title">{{ profile_form.phone_number.label }}</div>
                        {{ profile_form.phone_number }}
                        {% for error in profile_form.phone_number.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                        <label class="checkbox" for="checkbox_view">
                            {{ profile_form.is_profile_public }}{{ profile_form.is_profile_public.label }}
                        </label>
                    </div>
                    <div class="log__btn">
                        <button class="log__enter button" type="submit">{% trans 'Save' %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="item-setting">
            <div class="global-title_box">
                <strong>{% trans 'Password change' %}</strong>
            </div>
            <div class="wrap-setting_input">
                <form action="{% url 'account:settings' %}" method="post">
                    {% csrf_token %}
                    {% for hidden_field in password_change_form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {% for field in password_change_form.visible_fields %}
                        <div class="log__block">
                            <div class="log__title">{{ field.label }}</div>
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="error_input">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                  <div class="log__btn">
                      <button class="log__enter button" type="submit">{% trans 'Save' %}</button>
                  </div>
                </form>
            </div>
        </div>
        <div class="item-setting">
            <div class="global-title_box">
                <strong>{% trans 'Email change' %}</strong>
            </div>
            <div class="wrap-setting_input">
                <form action="{% url 'account:settings' %}" method="post">
                    {% csrf_token %}
                    {% for hidden_field in email_change_form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {% for field in email_change_form.visible_fields %}
                        <div class="log__block">
                            <div class="log__title">{{ field.label }}</div>
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="error_input">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="log__btn">
                        <button class="log__enter button" type="submit">{% trans 'Save' %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="item-setting">
            <div class="global-title_box">
                <strong>{% trans 'Account' %}</strong>
            </div>
            <div class="log__btn delete-account">
                <a href="{% url 'account:account_delete' %}" class="log__enter button">{% trans 'Account delete' %}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'smmpay/components/jcf/js/jcf.js' %}"></script>
    <script src="{% static 'smmpay/components/jcf/js/jcf.select.js' %}"></script>
    <script src="{% static 'smmpay/components/jcf/js/jcf.checkbox.js' %}"></script>
    <script src="{% static 'smmpay/components/jcf/js/jcf.scrollable.js' %}"></script>
{% endblock %}