{% load i18n %}

{% if favorites %}
    {% for favorite in favorites %}
        <div class="thumb">
            {% if favorite.advert.social_account.logo %}
                <div class="thumb__image">
                    <a class="thumb__avatar" href="{{ favorite.advert.get_absolute_url }}">
                        <img src="{{ favorite.advert.social_account.logo.url }}" width="42" height="42">
                    </a>
                </div>
            {% endif %}
            <div class="thumb__container">
                <div class="thumb__head">
                    <div class="thumb__info">
                        <a class="thumb__title" href="{{ favorite.advert.get_absolute_url }}">{{ favorite.advert.title|truncatechars:"30" }}</a>
                        <a class="thumb__subtitle" href="{{ favorite.advert.social_account.link }}">{{ favorite.advert.social_account.link }}</a>
                    </div>
                    <div class="thumb__price">{{ favorite.advert.price }} $</div>
                </div>
                <div class="thumb__controls">
                    {% comment %}
                    <div class="thumb__label thumb__label--vip">vip</div>
                    <div class="thumb__label thumb__label--consolidate">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512.5 512.5" style="enable-background:new 0 0 512.5 512.5;" xml:space="preserve">
                    <g>
                    <g>
                    <path fill="#fff" d="M394.8,365l111.4-111.4c5.1-5.1,7.3-12.4,5.8-19.4c-1.5-7-6.3-12.9-13-15.5C423.5,188.5,366.2,195,342,200.3L207.4,85.8

                    c2.7-45.3-21.7-76.2-22.8-77.6c-3.8-4.7-9.4-7.6-15.5-7.9c-6-0.2-12,2-16.2,6.2L6.2,153.1c-4.3,4.3-6.6,10.2-6.2,16.3

                    c0.3,6.1,3.3,11.7,8,15.5c26.2,20.8,58.9,23,76.3,22.6L200,343.2c-4.2,24.3-9.6,83.8,19,155.6c2.6,6.7,8.5,11.5,15.5,13

                    c1.5,0.3,2.9,0.4,4.3,0.4c5.6,0,11.1-2.2,15.1-6.3l110.9-110.9L475.5,506c4.2,4.2,9.6,6.3,15.1,6.3c5.5,0,10.9-2.1,15.1-6.3

                    c8.3-8.3,8.3-21.8,0-30.2L394.8,365z"></path>
                    </g>
                    </g>
                    </svg>
                    </div>
                    {% endcomment %}
                    {% if favorite.advert.social_account.confirmed %}
                        <div class="thumb__label thumb__label--verification">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve">
                                <path fill="#fff" d="M0.3,14C0.1,13.8,0,13.5,0,13.3s0.1-0.5,0.3-0.7l1.4-1.4c0.4-0.4,1-0.4,1.4,0l0.1,0.1l5.5,5.9c0.2,0.2,0.5,0.2,0.7,0
                                L22.8,3.3h0.1l0,0c0.4-0.4,1-0.4,1.4,0l1.4,1.4c0.4,0.4,0.4,1,0,1.4l0,0l-16,16.6C9.5,22.9,9.3,23,9,23s-0.5-0.1-0.7-0.3l-7.8-8.4
                                C0.5,14.3,0.3,14,0.3,14z"></path>
                            </svg>
                        </div>
                    {% endif %}
                    <div class="thumb__controls-line"></div>
                </div>
                <div class="thumb__data">
                    <div class="thumb__features">
                        <div class="thumb__block">
                            <div class="thumb__name">{% trans 'Subscribers' %}</div>
                            <div class="thumb__value">{{ favorite.advert.social_account.subscribers }}</div>
                        </div>
                        <div class="thumb__block">
                            <div class="thumb__name">{% trans 'Category' %}</div>
                            <div class="thumb__value" title="{{ favorite.advert.category.title }}">{{ favorite.advert.category.title|truncatechars:"7" }}</div>
                        </div>
                        <div class="thumb__block">
                            <div class="thumb__name">{% trans 'Region' %}</div>
                            <div class="thumb__value" title="{{ favorite.advert.social_account.region.title }}">{{ favorite.advert.social_account.region.title|truncatechars:"7" }}</div>
                        </div>
                    </div>
                    <div class="thumb__buttons">
                        <a href="{% url 'account:favorite_delete' favorite.pk %}" class="thumb__favorite active">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 19.5 19.5" style="enable-background:new 0 0 19.5 19.5;" xml:space="preserve">
                                <g>
                                    <path d="M10.2,0.8l2.5,5.9L19,7.2c0.4,0,0.6,0.6,0.3,0.9l-4.8,4.2l1.4,6.2c0.1,0.4-0.4,0.8-0.7,0.5l-5.5-3.3L4.3,19
                                    c-0.4,0.2-0.8-0.1-0.7-0.5L5,12.2L0.2,8C-0.2,7.8,0,7.2,0.5,7.2l6.3-0.5l2.5-5.9C9.5,0.3,10,0.3,10.2,0.8z"></path>
                                </g>
                            </svg>
                            {% trans 'Fr. favorites' %}
                        </a>
                        <a class="thumb__read-more" href="{{ favorite.advert.get_absolute_url }}">{% trans 'Read more' %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'base/pagination.html' %}
{% else %}
    <div class="content-other_text">
        {% trans 'There is nothing to show' %}
    </div>
{% endif %}