{% load advert_tags %}

{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="pagination__item">
                <a class="pagination__link pagination__link--prev" href="?{% build_querystring request.GET 'page' page=page_obj.previous_page_number %}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 477.2 477.2" style="enable-background:new 0 0 477.2 477.2;" xml:space="preserve">
                        <g>
                            <path d="M145.2,238.6L360.7,23.1c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0L116.5,229.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                            c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.2,238.6z"></path>
                        </g>
                    </svg>
                </a>
            </li>
        {% endif %}

        {% if not page_obj.has_next and page_obj.number|add:"-4" > 0 %}
            <li class="pagination__item">
                <a class="pagination__link" href="?{% build_querystring request.GET 'page' page=page_obj.number|add:"-4" %}">{{ page_obj.number|add:"-4" }}</a>
            </li>
        {% endif %}
        {% if page_obj.number|add:"2" > page_obj.paginator.num_pages and page_obj.number|add:"-3" > 0 %}
            <li class="pagination__item">
                <a class="pagination__link" href="?{% build_querystring request.GET 'page' page=page_obj.number|add:"-3" %}">{{ page_obj.number|add:"-3" }}</a>
            </li>
        {% endif %}
        {% if page_obj.number|add:"-2" > 0 %}
            <li class="pagination__item">
                <a class="pagination__link" href="?{% build_querystring request.GET 'page' page=page_obj.number|add:"-2" %}">{{ page_obj.number|add:"-2" }}</a>
            </li>
        {% endif %}
        {% if page_obj.has_previous %}
            <li class="pagination__item">
                <a class="pagination__link" href="?{% build_querystring request.GET 'page' page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            </li>
        {% endif %}
        <li class="pagination__item active">
            <a class="pagination__link" href="?{% build_querystring request.GET 'page' page=page_obj.number %}">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
            <li class="pagination__item">
                <a class="pagination__link" href="?{% build_querystring request.GET 'page' page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            </li>
        {% endif %}
        {% if page_obj.number|add:"2" <= page_obj.paginator.num_pages %}
            <li class="pagination__item">
                <a class="pagination__link" href="?{% build_querystring request.GET 'page' page=page_obj.number|add:"2" %}">{{ page_obj.number|add:"2" }}</a>
            </li>
        {% endif %}
        {% if page_obj.number|add:"-2" <= 0 and page_obj.number|add:"3" <= page_obj.paginator.num_pages %}
            <li class="pagination__item">
                <a class="pagination__link" href="?{% build_querystring request.GET 'page' page=page_obj.number|add:"3" %}">{{ page_obj.number|add:"3" }}</a>
            </li>
        {% endif %}
        {% if not page_obj.has_previous and page_obj.number|add:"4" <= page_obj.paginator.num_pages %}
            <li class="pagination__item">
                <a class="pagination__link" href="?{% build_querystring request.GET 'page' page=page_obj.number|add:"4" %}">{{ page_obj.number|add:"4" }}</a>
            </li>
        {% endif %}
        {% if page_obj.number|add:"5" <= page_obj.paginator.num_pages %}
            <li class="pagination__item">
                <span class="pagination__link pagination__link--dots">...</span>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="?{% build_querystring request.GET 'page' page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            </li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="pagination__item">
                <a class="pagination__link pagination__link--next" href="?{% build_querystring request.GET 'page' page=page_obj.next_page_number %}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 477.2 477.2" style="enable-background:new 0 0 477.2 477.2;" xml:space="preserve">
                        <g>
                            <path d="M145.2,238.6L360.7,23.1c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0L116.5,229.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                            c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.2,238.6z"></path>
                        </g>
                    </svg>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}