{% extends 'base/base_html.html' %}
{% load i18n %}
{% load static %}

{% block title %} | {% trans 'Login' %}{% endblock %}

{% block content %}
    <div class="log tabs-log">
        <div class="log__head tabs-title-log">
            <a class="log__link active">{% trans 'Login' %}</a>
            <a href="{% url 'account:registration' %}" class="log__link">{% trans 'Registration' %}</a>
        </div>
        <div class="tabs-items-log">
            <div class="item">
                <form id="login-form" action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="log__block">
                            <div class="log__title">{{ field.label }}</div>
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="error_input">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <div class="log__block">
                            {% for error in form.non_field_errors %}
                                <div class="error_input">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="log__controls">
                        <a href="{% url 'account:password_reset' %}" class="log__remember">{% trans 'Forgot a password?' %}</a>
                        <button class="log__enter button" type="submit">{% trans 'Log in' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock %}
