{% extends 'base/base_html.html' %}
{% load i18n %}

{% block title %} | {% trans 'Password reset' %}{% endblock %}

{% block content %}
    <div class="log tabs-log">
        <div class="tabs-items-log">
            <div class="item">
                <form id="password-reset-form" action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="log__block">
                            <div class="log__title">{{ field.label }}</div>
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="error_input">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <div class="log__block">
                            {% for error in form.non_field_errors %}
                                <div class="error_input">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="log__register">
                        <button class="log__enter button" type="submit">{% trans 'Reset' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
