{% extends 'base/base_html.html' %}
{% load i18n %}

{% block content %}
    {% if validlink %}
        <div class="form-news_password log">
            <div class="text">
                <p>{% trans 'Please enter the password twice so that we can verify the accuracy of the written.' %}</p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="log__block">
                        <div class="log__title">{{ field.label }}</div>
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="error_input">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="log__controls">
                    <button class="log__enter button" type="submit">{% trans 'Change my password' %}</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="content-other_text">
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        </div>
    {% endif %}
{% endblock %}
