{% extends 'base/base_html.html' %}
{% load i18n %}
{% load static %}
{% load advert_tags %}

{% block content %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'advert:index' %}">{% trans 'Homepage' %}</a>
        </li>
        <li>
            <a href="#">{% trans 'Blog' %}</a>
        </li>
    </ul>
    <div class="inner__content content-blog">
        <div class="global-title_box">
            <h1>{% trans 'News' %}</h1>
        </div>
        <div class="blog-items">
            {% include 'blog/parts/post_list.html' %}
        </div>
    </div>

    {% content_block 'sidebar' order_by='-social_account__subscribers' %}
{% endblock %}

{% block script %}
    <script src="{% static 'smmpay/components/URI.min.js' %}"></script>
    <script src="{% static 'smmpay/components/jquery.sticky-sidebar.min.js' %}"></script>
{% endblock %}