{% extends 'base/base_html.html' %}
{% load i18n %}
{% load static %}

{% block title %} | {% trans 'Blog' %}{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'advert:index' %}">{% trans 'Homepage' %}</a>
        </li>
        <li>
            <a href="#">{% trans 'Blog' %}</a>
        </li>
    </ul>
    <div class="inner__content content-blog">
        {% include 'blog/parts/post_list.html' %}
    </div>

    {% include 'advert/parts/sidebar.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'smmpay/components/URI.min.js' %}"></script>
{% endblock %}