{% load i18n %}
{% load static %}
{% load advert_tags %}

<div class="filter">
    <div class="filter__open">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 13 16" style="enable-background:new 0 0 13 16;" xml:space="preserve">
            <path class="st0" d="M0,2h13v2L8,9v7l-3-2V9L0,4V2z"></path>
            <path class="st0" d="M0,0h13v1H0V0z"></path>
        </svg>
    </div>
    <div class="filter__container">
        <form id="filter-form">
            {% if social_networks %}
                <div class="filter__row">
                    <label class="filter__label">
                        <span class="filter__title">{% trans 'Social' %}</span>
                        <select name="social_network" id="id_social_network">
                            {% for social_network in social_networks %}
                                {% with 'smmpay/images/'|add:social_network.code|add:'_icon.svg' as icon_path %}
                                    {% if social_network.code == selected_social_network %}
                                        <option value="{{ social_network.code }}" data-imagesrc="{% static icon_path %}" selected>{{ social_network.title }}</option>
                                    {% else %}
                                        <option value="{{ social_network.code }}" data-imagesrc="{% static icon_path %}">{{ social_network.title }}</option>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </select>
                    </label>
                </div>
            {% endif %}

            <div class="filter__row">
                <label class="filter__label">
                    <span class="filter__title">{{ filter_form.category.label }}</span>
                    {{ filter_form.category }}
                </label>
            </div>
            <div class="filter__row">
                <label class="filter__label">
                    <span class="filter__title">{{ filter_form.service.label }}</span>
                    {{ filter_form.service }}
                </label>
            </div>
            <div class="filter__row">
                <label class="filter__label">
                    <span class="filter__title">{{ filter_form.search_query.label }}</span>
                    {{ filter_form.search_query }}
                </label>
            </div>
            <div class="filter__row">
                <div class="filter__row__col">
                    <label class="filter__label">
                        <span class="filter__title">{{ filter_form.subscribers_min.label }}</span>
                        {{ filter_form.subscribers_min }}
                    </label>
                </div>
                <div class="filter__row__col">
                    <label class="filter__label">
                        <span class="filter__title">{{ filter_form.subscribers_max.label }}</span>
                        {{ filter_form.subscribers_max }}
                    </label>
                </div>
            </div>
            <div class="filter__row">
                <div class="filter__row__col">
                    <label class="filter__label">
                        <span class="filter__title">{{ filter_form.price_min.label }}</span>
                        {{ filter_form.price_min }}
                    </label>
                </div>
                <div class="filter__row__col">
                    <label class="filter__label">
                        <span class="filter__title">{{ filter_form.price_max.label }}</span>
                        {{ filter_form.price_max }}
                    </label>
                </div>
            </div>
            <div class="filter__row">
                <div class="sort">
                    <label class="filter__label">
                        <span class="filter__title">{{ filter_form.sort_by.label }}:</span>
                        <div class="sort-wrapper">
                            {{ filter_form.sort_by }}
                        </div>
                    </label>
                </div>
                <button type="button" class="filter__reset button">{% trans 'Reset filter' %}</button>

                <div class="adverts-found">
                    <span>{% trans 'Found' %}</span>
                    <span id="items-count">{{ paginator.count }}</span>
                </div>

                <button type="submit" class="filter__submit button">{% trans 'Find adverts' %}</button>
            </div>
        </form>
    </div>
</div>