{% load static %}

<div class="sidebar">
    <div class="sidebar__head">Рекомендуем</div>
    <ul class="sidebar__list">
        <li class="sidebar__item">
            <a class="sidebar__link" href="#">
                <span class="sidebar__image"><img src="{% static 'smmpay/data/sidebar-img.png' %}" width="36" height="36"></span>
                <span class="sidebar__description"><span class="sidebar__title">Знаете ли Вы?</span><span class="sidebar__subtitle">5 785 подписчиков</span></span>
            </a>
        </li>
        <li class="sidebar__item">
            <a class="sidebar__link" href="#">
                <span class="sidebar__image"><img src="{% static 'smmpay/data/sidebar-img.png' %}" width="36" height="36"></span>
                <span class="sidebar__description"><span class="sidebar__title">Знаете ли Вы?</span><span class="sidebar__subtitle">5 785 подписчиков</span></span>
            </a>
        </li>
        <li class="sidebar__item">
            <a class="sidebar__link" href="#">
                <span class="sidebar__image"><img src="{% static 'smmpay/data/sidebar-img.png' %}" width="36" height="36"></span>
                <span class="sidebar__description"><span class="sidebar__title">Знаете ли Вы?</span><span class="sidebar__subtitle">5 785 подписчиков</span></span>
            </a>
        </li>
        <li class="sidebar__item">
            <a class="sidebar__link" href="#">
                <span class="sidebar__image"><img src="{% static 'smmpay/data/sidebar-img.png' %}" width="36" height="36"></span>
                <span class="sidebar__description"><span class="sidebar__title">Знаете ли Вы?</span><span class="sidebar__subtitle">5 785 подписчиков</span></span>
            </a>
        </li>
    </ul>
</div>