{% load i18n %}

{% if posts %}
    {% for post in posts %}
        <div class="item-blog">
            {% if post.image %}
                <a href="{{ post.get_absolute_url }}" class="img">
                    <img src="{{ post.image.url }}" alt="blog">
                </a>
            {% endif %}
            <a href="{{ post.get_absolute_url }}" class="global-title_box">
                <strong>{{ post.title }}</strong>
            </a>
            <div class="text-wrap">{{ post.content|safe|striptags|truncatewords:'21' }}</div>
            <div class="nav-blog">
                <time class="time">{{ post.created|date:'d E Y' }}</time>
                <a class="thumb__read-more" href="{{ post.get_absolute_url }}">{% trans 'Read more' %}</a>
            </div>
        </div>
    {% endfor %}

    {% include 'base/pagination.html' %}
{% else %}
    <div class="content-other_text">
        {% trans 'There is nothing to show' %}
    </div>
{% endif %}